/* styles.css */
body {
  font-family: 'Baloo 2', sans-serif;
  margin: 0;
  background-image: url('https://i.pinimg.com/736x/83/62/49/8362499b1b7e38b8d24828d7998b8ee2.jpg'); /* URL direta da imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Garante que o corpo tenha no mínimo 100% da altura da viewport */
  display: flex;
  flex-direction: column; /* Garante que o rodapé fique no final */
}

main {
  flex: 1; /* Faz o conteúdo principal crescer e ocupar o espaço disponível */
}

footer {
  background-color: #002855;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed; /* Rodapé fixo na parte inferior */
  bottom: 0;
  z-index: 1;
}

header {
  background-color: #0b0446; /* Cor de fundo do cabeçalho */
  text-align: left; /* Centraliza o conteúdo dentro do header */
  padding: 25px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.logo-container img {
  width: 80px; /* Imagem ajustada para dispositivos móveis */
  height: auto;
  border-radius: 50%; /* Imagem circular */
  margin-right: 10px;
}

.fa-broom {
  font-size: 30px;
  margin-right: 10px;
}

#resultados-pesquisa {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 0; /* Remove margem superior desnecessária */
}

.item-resultado {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-resultado img {
  width: 100px; /* Defina o tamanho desejado da imagem */
  height: 100px;
  border-radius: 50%; /* Torna a imagem redonda */
  margin-bottom: 10px; /* Espaço entre a imagem e o nome */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.descricao-meta {
  font-size: 1em;
  color: #666;
}

a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    background-size: contain; /* Ajusta o background para caber melhor */
    height: auto; /* Para permitir o scroll se o conteúdo for maior */
  }

  h1 {
    font-size: 24px; /* Títulos menores */
  }

  .logo-container img {
    width: 50px; /* Imagem menor */
  }

  .texto-principal {
    font-size: 16px; /* Texto principal menor */
    padding: 10px; /* Mais espaçamento ao redor */
  }

  input, button {
    width: 90%; /* O input e o botão ocupam quase toda a largura da tela */
    padding: 15px; /* Ajusta o padding para telas menores */
    margin: 10px auto; /* Centraliza o input e o botão */
  }

  footer {
    font-size: 12px; /* Tamanho de texto menor no rodapé */
  }
}

.container-aviso {
  display: flex;
  align-items: center;
}

.aviso-erro {
  font-family: 'Baloo 2', sans-serif;
  background-color: #002855;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  max-height: 3rem;
  overflow: hidden;
  margin: 10px auto;
}

.aviso-sem-capinadores {
  font-family: 'Baloo 2', sans-serif;
  background-color: #002855;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  max-height: 3rem;
  overflow: hidden;
  margin: 10px auto;
}
