/* Coloca a barra de pesquisa e o botão lado a lado */
.container-pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

header, main, footer {
  width: 100%; /* Garante que esses elementos ocupem 100% da largura */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-pesquisa input {
  width: 300px; /* Ajuste a largura do input conforme necessário */
  margin-right: 10px; /* Diminui o espaçamento entre o input e o botão */
}

.container-pesquisa button {
  width: 200px;
}

/* Estilos gerais para o body */
body {
  font-family: 'Baloo 2', sans-serif;
  margin: 0;
  background-image: url('https://i.pinimg.com/736x/83/62/49/8362499b1b7e38b8d24828d7998b8ee2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilos para header */
header {
  background-color: #002855;
  color: #fff;
  text-align: center;
  padding: 25px;
}

/* Estilos para o main */
main {
  flex: 1;
  background-color: #32e038; /* Verde */
  color: #fff;
  text-align: center;
  padding: 25px;
  padding-bottom: 60px; /* Espaço suficiente para o rodapé */
}

/* Estilos globais para inputs e botões */
input, button {
  padding: 20px;
  border: none;
  border-radius: 100px;
  margin: 100px;
}

button {
  background-color: #002855;
  color: #ffffff;
  cursor: pointer;
}

/* Estilo para logos */
.logo-arredondada {
  border-radius: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

/* Ajuste no tamanho da logo */
.logo-container img {
  width: 100px; /* Tamanho padrão da logo */
  height: auto;
  margin-right: 10px;
}

/* Ajuste para a logo em telas menores */
@media (max-width: 768px) {
  .logo-container img {
    width: 80px; /* Reduz o tamanho da logo para telas menores */
  }
}

/* Texto principal */
.texto-principal {
  font-family: 'Baloo 2', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(8, 8, 8, 0.5);
}

/* Estilo para ícones */
.fa-broom {
  font-size: 30px;
  margin-right: 10px;
}

/* Estilo para resultados de pesquisa */
#resultados-pesquisa {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px;
  margin-top: 0;
}

.item-resultado {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ajuste para a imagem redonda dos capinadores */
.item-resultado img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Deixa a imagem redonda */
  margin-bottom: 20px;
  object-fit: cover; /* Ajusta o conteúdo da imagem dentro do círculo */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.descricao-meta {
  font-size: 1em;
  color: #666;
  margin: 0 10px; /* Ajuste do espaçamento lateral do texto */
}

a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para avisos */
.container-aviso {
  display: flex;
  align-items: center;
}

.aviso-erro,
.aviso-sem-capinadores {
  font-family: 'Baloo 2', sans-serif;
  background-color: #002855;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  max-height: 3rem;
  overflow: hidden;
  margin: 100px auto;
}

/* Estilos para o rodapé */
footer {
  background-color: #002855;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative; /* Deixe o rodapé no fluxo normal da página */
  bottom: 0;
  z-index: 1;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .container-pesquisa {
    flex-direction: column; /* Coloca input e botão um abaixo do outro */
    width: 100%; /* Faz a pesquisa ocupar a largura total */
    padding: 0px; /* Adiciona um padding lateral para evitar que toque as bordas */
  }

  .container-pesquisa input, .container-pesquisa button {
    width: 90%; /* Input e botão ocupam 100% da largura no mobile */
    margin: 10px 0; /* Adiciona espaçamento entre os elementos */
  }

  /* Ajusta o tamanho da fonte do texto principal */
  .texto-principal {
    font-size: 18px;
  }

  /* Ajusta o espaçamento nas áreas de resultado */
  #resultados-pesquisa {
    padding: 20px; /* Reduz o padding */
    margin-top: 10px;
    flex-direction: column; /* Coloca os resultados em coluna no mobile */
    align-items: center;
  }

  /* Ajusta o tamanho dos itens de resultado */
  .item-resultado {
    width: 90%; /* Ajusta a largura para 90% da tela no mobile */
    margin: 10px 0; /* Ajusta o espaçamento entre os itens */
  }

  /* Ajusta a imagem e o conteúdo */
  .item-resultado img {
    width: 80px;
    height: 80px;
  }

  h2 {
    font-size: 1.2em;
  }

  .descricao-meta {
    font-size: 0.9em;
  }

  /* Ajustes no footer */
  footer {
    font-size: 12px;
    padding: 15px;
  }

  main {
    padding-bottom: 80px; /* Aumentar o espaço para o rodapé em telas pequenas */
  }
}

/* Estilos para telas maiores que 768px (típico para desktop) */
@media (min-width: 768px) {
  .container-verde {
    padding: 20px 0; /* Reduz o padding superior e inferior */
    height: auto; /* Ajusta a altura conforme o conteúdo */
  }

  .container-verde input, .container-verde button {
    margin: 2px; /* Reduz o espaçamento dos elementos input e button */
  }

  .item-resultado {
    width: 100%;
  }

  .resultados-pesquisa {
    flex-wrap: wrap;
  }

  h1 {
    font-size: 24px;
  }

  .logo-container img {
    width: 100px; /* Tamanho maior da logo em telas maiores */
  }

  .texto-principal {
    font-size: 16px;
    padding: 10px;
  }

  input, button {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
  }

  footer {
    font-size: 12px;
  }
}
